body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: #f5f4f4;
    font-size: 16px;
}

.section {
    padding: 2rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 2rem;
    }
}

.section nav {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.section nav ul {
    display: flex;
}

.section nav ul li:after {
    content: "-";
    display: inline-block;
    margin: 0 10px;
}

.section nav ul li:last-child:after {
    content: none;
}

.section nav a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.section nav a.active {
    font-weight: bold;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 235px;
    grid-auto-flow: row dense;
    width: 100%;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
}

.item a {
    display: block;
    height: 100%;
    width: 100%;
}

.item figure {
    height: inherit;
    width: inherit;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item--medium {
    grid-row-end: span 2;
}

.item--large {
    grid-row-end: span 3;
}

.item--full {
    grid-column-end: auto;
}

@media screen and (min-width: 768px) {
    .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2;
    }
}
